.header {
  padding-left: 10px;
  background-color: black;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #fff;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: #fff !important;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header .text-white {
  color: #fff !important;
}
.header__title {
  display: inline-block;
}

.header__navigation {
  display: inline-flex;
}

.header button {
  height: 2.2rem;
  margin-top: 3px;
}